body {
	background-image: url("media/outdoors_background.jpg"); 
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover; 
	background-attachment: fixed;
	background-color:black; 
}
.navigation {
	list-style:none;
	margin:0;
	
	background:#5d4a49;
	
	opacity: 0.8; 
	
	display:flex;
	
	flex-flow:row warp;
	justify-content:center;
}

.navigation a {
	text-decoration:none;
	font-size: 25px;
	display:block;
	padding:1em;
	color:white;
}

.navigation a:hover {
	background:lighten(black, 2%);
}

@media all and (max-width: 800px) {
	.navigation {
		justify-content:space-around;
	}
}

@media all and (max-width: 600px) {
	.navigation {
		flex-flow:column wrap;
		padding:0;
	}
	.navigation a {
		text-align:center;
		padding:10px;
		border-top:1px solid rgba(255,255,255,0.3);
		border-bottom:1px solid rgba(0,0,0,0.1);
	}
	.navigation li:last-of-type a{
		border-bottom:none;
	}
}


header {
	color: white;
	background: #4d1617;
	opacity: 0.8; 
}
h1 {
	color:#A72915; 
	font-weight: 900;
}
h4 {
	color:#A72915; 
	font-weight: 900;
}
p {
	color:white;
}
aside {
	color:white;
}
footer{
	color:white;
}